server:
  port: 9001
spring:
  application:
    name: mo-auth-service
  cloud:
    nacos: #注册中心地址
      discovery:
        server-addr: 39.108.182.26:8848
  datasource: #数据库配置
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://39.108.182.26:3408/mo_auth?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: mo12345
  redis:   #Redis
    host: 39.108.182.26
    port: 8000
    password: mo12345
    pool:
      max-active: -1
      max-wait: 30
      max-idle: 30
      min-idle: 5
      timeout: 3000
#配置plus打印sql日志
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
#设置日志级别,ERROR/WARN/INFO/DEBUG,默认是INFO以上才显示
logging:
  level:
    root: INFO
    #nacos日志问题
    com.alibaba.nacos.client.config.impl: WARN