server:
  port: 80
spring:
  application:
    name: mo-auth-service
  cloud:
    nacos: #注册中心地址
      discovery:
        server-addr: 39.108.182.26:8848
  datasource: #数据库配置
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://39.108.182.26:3408/mo_auth?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: mo12345
  redis:   #Redis
    host: 39.108.182.26
    port: 8000
    password: mo12345
    pool:
      max-active: -1
      max-wait: 30
      max-idle: 30
      min-idle: 5
      timeout: 3000
#配置plus打印sql日志
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
#设置日志级别,ERROR/WARN/INFO/DEBUG,默认是INFO以上才显示
logging:
  level:
    root: INFO
    #nacos日志问题
    com.alibaba.nacos.client.config.impl: WARN
#微信登录配置
wx:
  appid: wx3bdb1192c22883f3
  secret: db9d6b88821df403e5ff11742e799105
  accessTokenUrl: https://api.weixin.qq.com/sns/oauth2/access_token
  accessRefreshUrl: https://api.weixin.qq.com/sns/oauth2/refresh_token
  wxInfoUrl: https://api.weixin.qq.com/sns/userinfo
#微博登录配置
wb:
  appid: 2522924994
  secret: 0da052749f90fd83b3c63cf9942f185f
  redirectUri: http://note.java.itcast.cn/
  authorizeUrl: https://api.weibo.com/oauth2/authorize
  accessTokenUrl: https://api.weibo.com/oauth2/access_token
  wbInfoUrl: https://api.weibo.com/2/users/show.json