server:
  port: 9000
spring:
  application:
    name: mo-gateway
  redis:   #Redis
    host: 39.108.182.26
    port: 8000
    password: mo12345
    pool:
      max-active: -1
      max-wait: 30
      max-idle: 30
      min-idle: 5
      timeout: 3000
  cloud:
    nacos: #注册中心地址
      discovery:
        server-addr: 39.108.182.26:8848
    gateway:  #gateway 网关配置
      #开启网关拉取nacos的服务
      discovery:
        locator:
          enabled: true #是否根据微服务的名称进行映射设置
      routes: #数组形式
        - id: auth-service  #认证服务 路由唯一标识
          uri: lb://mo-auth-service  #从nacos进行转发
          order: 1 #优先级，数字越小优先级越高
          predicates: #断言 配置哪个路径才转发，前端访问路径统一加上XXX-server，网关判断转发对应的服务，如果是回调业务记得修改
            - Path=/auth-server/**
          filters: #过滤器，请求在传递过程中通过过滤器修改
            - StripPrefix=1  #去掉第一层前缀，转发给后续的路径
        - id: notify-service  #认证服务 路由唯一标识
          uri: lb://mo-notify-service #从nacos进行转发
          order: 1 #优先级，数字越小优先级越高
          predicates: #断言 配置哪个路径才转发，前端访问路径统一加上XXX-server，网关判断转发对应的服务，如果是回调业务记得修改
            - Path=/notify-server/**
          filters: #过滤器，请求在传递过程中通过过滤器修改
            - StripPrefix=1  #去掉第一层前缀，转发给后续的路径

#设置日志级别,ERROR/WARN/INFO/DEBUG,默认是INFO以上才显示
logging:
  level:
    root: INFO
    #nacos日志问题
    com.alibaba.nacos.client.config.impl: WARN
jwt:
  secret: moauthsecret #jwt校验密钥
  #鉴权排除的接口，如果已登录，所有接口都可以获取到认证信息主键
  excludedUrls:
    - /api/notify/v1/sendCode
    - /api/notify/v1/getCaptchaCodeImage
    - /api/notify/v1/getCaptchaCode
    - /api/auth/v1/loginByMobile
    - /api/auth/v1/login
    - /api/auth/v1/registerByMobile
    - /api/auth/v1/registerByEmail
    - /api/auth/v1/registerByUserName
